*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
}

.content__list {
  height: 534px;  /* высота этой части по фигме*/
  overflow: auto; /* значение auto или scroll ?*/
  padding-top: 26px;
}

.content__details {
  width: 399px;     /* ширина по фигме*/
  height: 1200px;
}

.result {
 padding-top: 78px;  /* этот контейнер лучше сверху сдвинуть марджином или паддингом */ 
 margin-right: 30px;
}

h1 {
  /*   
  Хочу сделать шапку "Посмотри в окно" при прокрутке - фиксированную. Если делаю fixed, то получается "наезд" и 
  отступ не работает. А если делаю sticky, то шапка "не фиксируется"
  */
  position: fixed; 
  padding-bottom: 26px;
}

.result__video-container {
  display: flex;
  
}

.search-form {
  display: flex;
  padding-top: 16px;
  justify-content: space-between;
}