*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  gap: 30px;
  justify-content: center;
  align-items: end;
}

.content__list {
  height: 534px;  /* высота этой части по фигме*/
  width: 100%;
  overflow: auto; /* значение auto (когда необходимо) = scroll (всегда) ?*/
  padding-top: 26px;
  position: relative;
}

.content__details {
  width: 100%;    
  height: 100%;
}

.result {

}

.title {
  /*   
  Хочу сделать шапку "Посмотри в окно" при прокрутке - фиксированную. Если делаю fixed, то получается "наезд" и 
  отступ не работает. А если делаю sticky, то шапка "не фиксируется"
  */
  padding-bottom: 26px;
}

.result__video-container {
  display: flex;
  position: relative;
  
}

.search-form {
  display: flex;
  padding-top: 16px;
  justify-content: space-between;
}

.result__video {
  width: 100%;
}

.content__video-card {
  display: flex;
  flex-direction: row;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {

}

.content__list-item:not(:last-child) {
  margin-bottom: 2px;         /* отступ между ними 2px по фигме ? */
}
                  