*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  gap: 30px;
  justify-content: center;
  align-items: end;
}

.content__list {
  height: 298px;  /* 534 (весь контейнер) высота этой части по фигме*/
  width: 100%;
  overflow: auto; /* значение auto (когда необходимо) = scroll (всегда) ?*/
  padding-top: 26px;
  position: relative;
}

.content__details {
  width: 100%;    
  height: 100%;
}

.result {

}

.title {
  /*   
  Хочу сделать шапку "Посмотри в окно" при прокрутке - фиксированную. Если делаю fixed, то получается "наезд" и 
  отступ не работает. А если делаю sticky, то шапка "не фиксируется"
  */
  padding-bottom: 26px;
  font-weight: bold;
  font-size: 75px; 
  line-height: 100%; 
  text-transform: uppercase;
  font-family: Oswald;

}
.content__accent {
  color: grey;
  }

.result__video-container {
  display: flex;
  position: relative;
  
}

.search-form {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  height: 54px; /*захардкорд 54*/
  align-items: end;
}

.result__video {
  width: 100%;
}

.content__video-card {
  display: flex;
  flex-direction: row;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
 
}

.content__list-item:not(:last-child) {
  padding-bottom: 30px;         
}

.search-form__fieldset-title {     /*Город и время суток*/
  font-weight: lighter;
  font-size: 18px;
  line-height: 1,5;   /*прочла, что для обычного текста (1.5 интервал) часто используют*/           
}
                  
.content__card-link {  /*список карточек с видео*/
 text-decoration: none;
 color: white;
}

.content__video-card-title {    /*названия городов*/  
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;                         
}

.content__video-card-description { /*в html - пустой контейнер, а в шаге 4 пункт 5 он есть. Может content__video-card-description-container*/
font-size: 18px;
line-height: 16.2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  width: fit-content;
}

.result__video-container {
  cursor: pointer;
}

.search-form__textfield {
  appearance: none;  /*шаг 5 пункт 6 */ /*как убрать белое выделение ? */
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  line-height: auto;  
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;                  
}

.search-form__pseudo-checkbox {

}

.button {
  cursor: pointer;
  appearance: none;  
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  line-height: auto;  
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.more-button {
  width: 399px;
  height: 34px;
}

.search-form__textfield {
  outline: none;
}

.search-form__textfield:active {
outline: 1px solid #fff;
border-color: transparent;
}

.search-form__textfield:focus {
  outline: 1px solid #00f;
}